@import url('https://fonts.googleapis.com/css2?family=Akronim&display=swap');
.container{
    width:500px;
    height: 700px;
    margin: 1rem;
    padding:1rem;
    background-color: #020000;
    display: flex;
    flex-wrap: wrap;
}
.float-container{
    width:250px;
    height: 280px;
    background-color: #8F8967;
}
.float-container  p{
    margin:0;
    font-family: 'Akronim', cursive;
    font-size: 70px;
    font-weight: 700; 
    position: center;
    flex:display;
    padding-top: 38px;
    padding-left: 38px;
    width: 150px;
    height: 80px;

  -ms-transform: rotate(50deg); /* IE 9 */
  transform: rotate(50deg);
}
.more-container{
    width:250px;
    height: 280px;
    background-color: #C4C4C4; 
}
.more-container  p{
    margin:0;
    font-family: Alegreya;
    font-size: 20px;
    position: center;
    flex:display;
    padding-top: 38px;
    padding-left: 30px;

}
.another-container{
    width:250px;
    height: 370px;
    background-color:#C4C4C4;
    padding-top: 50px;
}
.triangle {
    width: 0;
	height: 0;
	border-top: 130px solid transparent;
	border-left: 250px solid #B44848;
	border-bottom: 130px solid transparent;
    
}
.last-container{
    width:250px;
    height: 270px;
    background-color:#9ABABC;
    padding-top: 150px;
    
} 
.circle{
  height: 245px;
  width: 245px;
  background-color: #AD7979;
  border-radius: 50%;
}